# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.
#

options:
  hardware-exporter-port:
    type: int
    default: 10200
    description: |
      Start the prometheus hardware exporter at "exporter-port". By default,
      it will start at port 10200.
  exporter-log-level:
    type: string
    default: "INFO"
    description: |
      Start the prometheus exporter with log level "exporter-log-level". By
      default, it will set to INFO. Allowed values are "DEBUG", "INFO",
      "WARNING", "ERROR", "CRITICAL". Values other than those will result in
      failure of the exporter.
  collect-timeout:
    type: int
    default: 10
    description: |
      Timeout for collectors' shell commands in seconds. Changing this will also change
      the scrape_timeout config option for prometheus for the cos-agent relation with
      grafana-agent.
      This value is also used for the redfish client's timeout parameter.
      The value of this timeout should not be greater than prometheus scrape_interval (which
      is 60 seconds by default), as it greater would cause the scrape_timeout to be
      greater than scrape_interval.
  redfish-username:
    type: string
    default: ""
    description: |
      BMC username to be used by the redfish collector.
  redfish-password:
    type: string
    default: ""
    description: |
      BMC password to be used by the redfish collector.
