# Test basic deployment:
# ubuntu:juju-info <-> grafana-agent:juju-info
# ubuntu:juju-info <-> prometheus-hardware-exporter:general-info
# grafana-agent:cos-agent <-> prometheus-hardware-exporter:cos-agent

series: {{ series }}

machines:
  "0":

applications:
  ubuntu:
    charm: ubuntu
    num_units: 1
    to:
      - "0"
  grafana-agent:
    charm: grafana-agent
    channel: edge # FIXME: currently no stable release
  prometheus-hardware-exporter:
    charm: {{ charm }}

relations:
- - grafana-agent:juju-info
  - ubuntu:juju-info
- - prometheus-hardware-exporter:general-info
  - ubuntu:juju-info

