# Test basic deployment:
# ubuntu:juju-info <-> grafana-agent:juju-info
# ubuntu:juju-info <-> hardware-observer:general-info
# grafana-agent:cos-agent <-> hardware-observer:cos-agent

default-base: {{ base }}

machines:
  "0":

applications:
  ubuntu:
    charm: ubuntu
    num_units: 1
    to:
      - "0"
  grafana-agent:
    charm: grafana-agent
  {% if base == 'ubuntu@24.04' %}
    channel: latest/candidate  # Note(rgildein): Right now, grafana-agent is not support for Noble on latest/stable. See #348
  {% else %}
    channel: latest/stable
  {% endif %}
  hardware-observer:
    charm: {{ charm }}

relations:
- - grafana-agent:juju-info
  - ubuntu:juju-info
- - hardware-observer:general-info
  - ubuntu:juju-info
