# Test basic deployment:
# ubuntu:juju-info <-> opentelemetry-collector:juju-info
# ubuntu:juju-info <-> hardware-observer:general-info
#opentelemetry-collector:cos-agent <-> hardware-observer:cos-agent

default-base: {{ base }}

machines:
  "0":

applications:
  ubuntu:
    charm: ubuntu
    num_units: 1
    to:
      - "0"
  opentelemetry-collector:
    charm: opentelemetry-collector
    channel: 2/stable
  hardware-observer:
    charm: {{ charm }}
    options:
        redfish-disable: {{ redfish_disable }}

relations:
- - opentelemetry-collector:juju-info
  - ubuntu:juju-info
- - hardware-observer:general-info
  - ubuntu:juju-info
