jinja2
juju~=3.1.0  # must be compatible with the juju CLI version installed by CI
# pytest-8.2.0 with asyncio-0.21.1 breaks func tests with error:
# AttributeError: 'FixtureDef' object has no attribute 'unittest'.
# https://github.com/charmed-kubernetes/pytest-operator/issues/131
pytest==8.1.1
pytest-operator
prometheus-client
pyinstaller # required to bundle export_mock_metrics script to send it to hw-oberver unit
tenacity
