port: {{ PORT }}
level: {{ LEVEL }}
collect_timeout: {{ COLLECT_TIMEOUT }}
{% if COLLECTORS | length > 0 %}
enable_collectors:
  {% for collector in COLLECTORS %}
  - {{collector}}
  {% endfor %}
{% endif %}

driver_type: "{{ IPMI_DRIVER_TYPE }}"
hostname: "{{ REDFISH_HOST }}"
username: "{{ REDFISH_USERNAME }}"
password: "{{ REDFISH_PASSWORD }}"
redfish_client_timeout: "{{ REDFISH_CLIENT_TIMEOUT }}"
