port: {{ PORT }}
level: {{ LEVEL }}
collect_timeout: {{ COLLECT_TIMEOUT }}
{% if COLLECTORS | length > 0 %}
enable_collectors:
  {% for collector in COLLECTORS %}
  - {{collector}}
  {% endfor %}
{% endif %}

{% if REDFISH_ENABLE  %}
redfish_host: "{{ REDFISH_HOST }}"
redfish_username: "{{ REDFISH_USERNAME }}"
redfish_password: "{{ REDFISH_PASSWORD }}"
{% endif %}
