port: {{ PORT }}
level: {{ LEVEL }}
{% if COLLECTORS | length > 0 -%}
enable_collectors:
  {% for collector in COLLECTORS -%}
  - {{collector}}
  {% endfor -%}
{% endif -%}

{% if REDFISH_OPTIONS.get('enable', False)  %}
redfish_host: "{{ REDFISH_OPTIONS.get('host', '') }}"
redfish_username: "{{ REDFISH_OPTIONS.get('username', '') }}"
redfish_password: "{{ REDFISH_OPTIONS.get('password', '') }}"
{% endif %}
