[Unit]
Description=smartctl exporter service
After=network-online.target

[Service]
Type=simple
PIDFile=/run/smartctl_exporter.pid
ExecStart=/opt/SmartCtlExporter/smartctl_exporter -port {{ PORT }}
User=root
Group=root
SyslogIdentifier=smartctl_exporter
SyslogLevel={{ LEVEL }}
Restart=on-failure
RemainAfterExit=no
RestartSec=100ms
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
