name: Check workflow running linter, unit and functional tests

on:
  workflow_call:
  workflow_dispatch:
  pull_request:
    types: [opened, synchronize, reopened]
    branches: [master, main]
    paths-ignore:
      - "**.md"
      - "**.rst"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true
  
jobs:
  lint-unit:
    uses: canonical/bootstack-actions/.github/workflows/lint-unit.yaml@v2
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.8", "3.10"]
    with:
      python-version: ${{ matrix.python-version }}
      tox-version: "<4"
  
  promtool:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      # prometheus snap comes pre-packaged with promtool
      - name: Install prometheus snap
        run: sudo snap install prometheus
      - name: Check validity of prometheus alert rules
        run: |
          promtool check rules src/prometheus_alert_rules/*.yaml
      - name: Run unit tests for prometheus alert rules 
        run: |
          promtool test rules tests/unit/test_alert_rules/*.yaml

  func:
    uses: canonical/bootstack-actions/.github/workflows/func.yaml@v2
    needs: [lint-unit, promtool]
    strategy:
      fail-fast: false
      matrix:
        include:
          - juju-channel: "3.4/stable"
            command: "FUNC_ARGS='--series jammy' make functional"
    with:
      command: ${{ matrix.command }}
      juju-channel: ${{ matrix.juju-channel }}
      nested-containers: false
      provider: "lxd"
      python-version: "3.10"
      timeout-minutes: 120
      tox-version: "<4"
